/* Colors of JavaFX Buttons*/
.button{
    -fx-background-color : #6F5CC2;
    -fx-text-fill : white;
}
.button:hover{
    -fx-background-color : #2A1C42;
}
.menuBtn:pressed{
    -fx-background-color : #7156DD;
}
.menuBtn:focused{
    -fx-background-color : #7D6CC8;
    -fx-border-color : #CDD1D6;
    -fx-border-width : 0px 0px 0px 3px;
}
.ScrollPane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}