/* Colors of JavaFX Buttons*/
.button{
    -fx-background-color : #6F5CC2;
    -fx-text-fill : white;
}
.button:hover{
    -fx-background-color : #2A1C42;
}
.menuBtn:pressed{
    -fx-background-color : #7156DD;
}
.menuBtn:focused{
    -fx-background-color : #7D6CC8;
    -fx-border-color : #CDD1D6;
    -fx-border-width : 0px 0px 0px 3px;
}
.ScrollPane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}
/* Colors of JavaFX pie chart slices. */
.data0.chart-pie { -fx-pie-color: turquoise; }
.data1.chart-pie { -fx-pie-color: aquamarine; }
.data2.chart-pie { -fx-pie-color: cornflowerblue; }
.data3.chart-pie { -fx-pie-color: blue; }
.data4.chart-pie { -fx-pie-color: cadetblue; }
.data5.chart-pie { -fx-pie-color: navy; }
.data6.chart-pie { -fx-pie-color: deepskyblue; }
.data7.chart-pie { -fx-pie-color: cyan; }
.data8.chart-pie { -fx-pie-color: steelblue; }
.data9.chart-pie { -fx-pie-color: teal; }
.data10.chart-pie { -fx-pie-color: royalblue; }
.data11.chart-pie { -fx-pie-color: dodgerblue; }

/* Pie Chart legend background color and stroke. */
.chart-legend { -fx-background-color: sienna; }
/* Colors and Style for JavaFx Charts*/


.chart-title {
    -fx-text-fill: #4682b4;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: #4682b4;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 20px;
}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
}

.chart-legend-item {
    -fx-text-fill: #191970;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.series-SELECTED *.chart-series-area-fill{
    -fx-fill: #3278fa; 
}
.card{
	-fx-background-color: rgb(216, 115, 250);
    -fx-background-radius: 10px;
}
